.Main-App {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  height: 100vh; /* Take full viewport height */
  background-color: #A7FFEB; /* Optional: background color for the App */
  border-radius: 1rem;
  background-image: url('./src/assets/krzysztof-dubiel-hQBIJsBtyBw-unsplash.jpg');
  background-size: cover;
  background-position: center;
}
