.Main-App {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  height: auto; /* Take full viewport height */
  min-height: 100vh;
  border-radius: 1rem;
  background-image: url('./src/assets/krzysztof-dubiel-hQBIJsBtyBw-unsplash.jpg');
  background-size: cover;
  background-position: center;
}
